@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    ;
}

body {
    overflow-x: hidden; 
    background-color: #24252A;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 10%;
}

.logo {
    cursor: pointer;
    width: 120px;
    height: 25px;
}

ul {
    padding-top: 10px;
}  


.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3 ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

#home {
    padding-top: 100px;
    padding-bottom: 50px;
    background: url(images/working.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    /* height: 600px; */
    height: 100vh;
    background-attachment: fixed;
}

.imgbg {
    border-radius: 50%;
    width: 90%;
    height: 55vh;
}

.footer {
    margin-top:50px;
}

.text-1 {
    color: #edf0f1;
    background-color: transparent;
    padding-top: 120px;
}
hr {
    border-top: 1px solid #737373;
}

.bd {
    /* background-repeat: no-repeat;
    background-size: auto;
    background-image: url("images/working.jpg"); */
    padding-bottom: 110px;
    padding-left: 50px;
}

.dv {
    padding-bottom: 110px;
    padding-right: 50px;
    /* background-repeat: no-repeat;
    background-size: auto;
    background-color: transparent !important;
    background-image: url("images/working.jpg"); */
}


.hed1 {
    padding: 30px 0px 50px;    
    color: #edf0f1;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: justify;
}

.lp {
    padding: 30px 0px 50px 30px;    
    color: #edf0f1;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
}

.dp img {
    width: 100%;
    cursor: pointer;
}

.bgProjects button {
    padding: 20px 20px 20px;
    margin-left: 110px;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
#projects {
    padding-top: 50px;
}

.card {
    background-color: #f8f9fa;
}
.card1 {
    margin-top: 30px;
}

#about {
    margin-top:100px;
    background-color: #8C644D;
    padding-top: 50px;
}
#about hr {
    border-top: 2px solid #BFBCB4;
}
.ab, .am, .cmm{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #edf0f1;
    padding-top: 30px;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000
}

.cmm1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #edf0f1;
    padding-top: 30px;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000
}

.abm {
    padding-bottom: 30px;
}
.pim {
    padding-top: 35px;
}
.myP{
    width: 100%;
}

#about button {
    margin-top: 50px;
    margin-left: 250px;
}

.am p {
    text-indent: 50px;
}

.f1 {
    font-size: 30px;
}

@media only screen and (min-width: 1000px) {
    nav .w1 {
        margin-left: 250px;
    }
    nav .w3{
        
        margin-right: 250px;
    }
    #home {
        margin-top:50px;
    }
}