@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-primary {
    border-color: transparent;
}
body {
    font-family: 'Poppins', sans-serif;
}

.mycontainer {
    max-width: 70rem;
    padding: 0 1rem;
    margin: 0 auto;
}
/* Navbar */
.headerDesk {
    display: none;
}
header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: transparent;
    background-image: url("/assets/images/working.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), transparent);
    border-bottom: 1px solid rgba(153, 151, 151, 1);
}
nav .mycontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo span {
    font-weight: 300;
}

.hamburger-menu {
    width: 1.55rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.bar {
    position: relative;
    width: 1.2rem;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

.bar::before, .bar::after {
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
}
.bar::before {
    transform: translateY(-8px);
}
.bar::after {
    transform: translateY(8px);
}

.bar1 {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    z-index: 20;
}

.bar1::before, .bar1::after {
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
}
.bar1::before {
    transform: translateY(-8px);
    transform: rotate(40deg);
}
.bar1::after {
    transform: rotate(140deg) !important;
    transform: translateY(8px);
}
.menu-content {
    position: absolute;
    background-color: #f3f3f3;
    width: 86.5%;
    height: 90vh;
    top: 24px;
    left: 25px;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: silver;
    z-index: 2;
}
.nav-menu {
    padding: 0;
}
.nav-menu li {
    list-style:none;
    text-align: center;
    font-size: 40px;
    color: #f3f3f3;
    text-shadow: 3px 3px #B0967B ;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.contact-btn {
    border-radius: 8px;
    background-color: #181511;
}
.contact-btn a {
    font-size: 40px;
    text-decoration: none;
    color: #f3f3f3;
    text-shadow: 3px 2px #B0967B;
    padding: 10px;
}
.glass { /* for glassmorphism */
    box-shadow: 0 0 40px 10px rgba(176, 150, 123, 0.5);
    border-radius: 8px;
    background: transparent;
    backdrop-filter: blur(30px);
}
/* Main Content */
.mainContent {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    margin-top: 200px;
}
.headerimg {
    width: 50%;
    height: 30vh;
    border-radius:50%;
    box-shadow: 1px 1px 10px #B0967B;
}
.mainContent h2, .mainContent p {
    color: #fff ;
    text-shadow: 2px 2px 7px #B0967B;
}

/* Projects */
.projectsDesk {
    display: none;
}
.projects {
    background-color: #2B2219;
    color: #f3f3f3;
    position: absolute;
    text-align: center;
    text-shadow: -2px 4px 7px #B0967B;
    padding-bottom: 30px;
}
.projects h3 {
    position: relative;
    font-size: 1.3rem;
    top: -20px;
    z-index: 1;
}
.projects h5 {
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.projects hr {
    margin-top: -15px;
}
.project img {
    width: 100%;
}
.btnCheckOut {
    margin-top: 1rem;
    border-radius: 8px;
    padding: 8px;
    text-shadow: 1px 1px 7px #B0967B;
    color: #f3f3f3;
    background-color: #181511;
}

/* About Me */
.aboutMeDesk {
    display: none;
}
.aboutMe {
    margin-top: 360px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #181511;
    color: #f3f3f3;
    text-align: center;
    text-shadow: 2px 1px 7px #B0967B;
}
.aboutME h3 {
    font-size: 1.3rem;
}

.aboutMe img {
    width: 100%;
    margin-bottom: 10px;
}
.bntContact {
    border-radius: 8px;
    padding: 8px;
    background-color: #181511;
    box-shadow: 1px 1px 8px #f3f3f3;
}
.bntContact a {
    text-decoration: none;
    color: #f3f3f3;
    font-weight: 550;
    text-shadow: 1px 1px 7px #B0967B;
}

/* Contact me */
.contactMeDesk {
    display: none;
}
.contactMe {
    background-image: url('/assets/images/contactbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 7px #B0967B;
}
.contactMe h3 {
    font-weight: 550;
}
.contactMe p {
    font-weight: 520;
}
.contactmee {
    display: inline-grid;
    text-align: justify;
    text-justify: auto
}
.fab {
    margin-top: 10px;
    font-weight: 550;
}

/* Footer */
.footerDesk {
    display: none;
}
footer {
  color: #f3f3f3;
  background-color: #273037;
  position: absolute;
  padding-bottom: 1rem;
  width: 100vw;
  bottom: -133.2rem;
}
.fHeader {
  color: #f3f3f3 !important;
  text-shadow: 2px 3px 9px #B0967B;
  margin-top: 20px;
}
form {
    position: relative;
}
footer label {
  text-shadow: 2px 3px 9px #B0967B !important;
}
.btnFooter {
  background-color: #181511;
  color: #f3f3f3;
  text-shadow: 1px 1px 7px #B0967B;
  position: absolute;
  right: 0;
  top: 300px;
  border-radius: 8px;
}
.btn-primary:hover {
    background-color: #181511;
    border-color: #181511;
}
.fonticon {
    position: relative;
    top: 60px;
    text-align: center;
    font-size: 25px;
    
}
.fonticon i {
    margin: 10px;
    color: #f3f3f3;
}
.alright {
    margin-top: 80px;
}
.alright p {
  text-align: center;
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
    /* Nav */
    header {
        height: 70vh;
    }
    .logo {
        margin-left: 2rem;
    }
    .bar {
        right: 2rem;
    }
    .bar1 {
        right: 2rem;
    }
    .menu-content {
        left: 3.5rem;
    }
    /* Main Content */
    .mainContent {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    text-align: center;
    margin-top: 14rem;
    }
    .headerimg {
        width: 80%;
        height: 30vh;
        border-radius:50%;
        box-shadow: 1px 1px 10px #B0967B;
    }
    .mainContent h2, .mainContent p {
        font-size: 2.1rem;
        position: relative;
        top: 7rem;
    }

    /* Projects */
     .projects h3 {
        font-size: 2.2rem;
        top: -40px;
    }
     .projects h5 {
        font-size: 2rem;
        margin-bottom: 2rem;
    } 
    .btnCheckOut {
        margin-top: 2rem;
        padding: 0.8rem;
    } 
    /* About Me */
    .aboutMe {
        margin-top: 40.2rem;
        padding-bottom: 30px;
    }
    .aboutMeP {
        font-size: 1.3rem
    }
    .aboutMe .row {
        margin-top: 2.5rem;
    }
    .aboutMe img {
        height: 20rem;
        margin-top: 4rem;
    }
    
    /* Contact me */
    .contactMe {
        height: 45vh;
    }
    .contactMe h3 {
        font-size: 3rem;
    }
    .contactMep {
        font-size: 1.8rem;
    }
    .contactmee {
        font-size: 2rem;
        
    }
    .fab {
        margin-top: 1rem;
    }
    
    /* Footer */
    
    footer {
        left:0;
        position: absolute;
        bottom:-145rem;
    }
    footer .mycontainer {
        padding: 0 3.5rem;
    }
    .fHeader {
        font-size: 2.5rem;
        padding: 1rem;
    }
    .footerForm label {
        /* text-shadow: 2px 3px 9px #B0967B !important; */
        font-size: 2rem;
    }
    .btnFooter {
        margin-top: 5rem;
        padding: 1.4rem 1.6rem;
        font-size: 1.5rem;
        outline: transparent;
    }
    .fonticon {
        top: 7rem;
    }
    .fonticon i {
        margin: 1.4rem;
    }
    .alright {
        margin-top: 9rem;
    }
    .alright p {
        text-align: center;
        margin-top: 30px;
    }
} 

@media only screen and (min-width:1024px) {
    
    /* Nav */
    .logo {
        margin-left: 3rem;
    }
    .bar {
        right: 3.2rem;
    }
    .bar1 {
        right: 3.2rem;
    }
    .menu-content {
        left: 4rem;
    }

    /* Projects */
    .projects h3 {
        font-size: 3rem;
    }
    .projects h5 {
        font-size: 2.5rem;
    }
    /* About me */
    .aboutMe {
        padding-top: 3rem;
        margin-top: 48rem;
    }
    .aboutMe .row {
        margin-top: 3rem;
    }

    /* Contact Me */
    .fab {
        font-size: 2.5rem;
    }
    /* Email me */
    footer {
        bottom: -152rem;
    }
}

@media only screen and (min-width:1025px) {
    .mycontainerDesk {
        padding: 0 1.6rem;
        display: flex;
        justify-content: space-between;
    }
    .mycontainerDesk1 {
        padding: 0 1rem;
    }
    /* nav */
    .headerResponsive {
        display: none;
    }
    .headerDesk {
       height: 90vh;
       display: flex;
       justify-content: space-between;
    }
    nav {
        border-bottom: none;
    }
    .logo {
        margin-left: 0;
    }
    .nav-menu {
        display: flex;
        margin: auto 0;
        padding: 0 auto;
    }
    .nav-menu li {
        font-size: 1.3rem;
        text-shadow: none;
        margin-left: 1.5rem;
    }
    .contact-btn {
        margin-top: -0.6rem;
        margin-left: 1.5rem;
    }
    .nav-menu a {
        font-size: 1rem;
        text-shadow: none;
        margin: 1px;
        padding: 0 0.6rem;
    }
    /* mainContent */
    .mainContent {
        margin-top: 9rem;
    }
    .mainContent img {
        height: 40vh;
        width: 40%;
    }
    .deskContent {
        text-align: initial;
        margin-top: -4rem;
    }
    .deskContent h2 {
        font-size: 3.5rem;
    }
    .deskContent p {
        font-size: 2.5rem;
    }

    /* Projects */
   .projects {
       display: none;
   }
   .projectsDesk {
       display: block;
       background-color: #2B2219;
       color: #f3f3f3;
       text-align: center;
       text-shadow: 1px 1px 7px #B0967B;
   }
   .projectDesk h3 {
       font-size: 1.3rem;
   }
   .projectDesk h5 {
       font-size: 1rem;
   }
   .exampleProject {
       display: flex;
       justify-content: space-evenly;
   }
   .projectsDesk .card{
       background-color: #273037;
       text-shadow: 1px 1px 7px #B0967B;
   }
   .btn-all {
       color: #f3f3f3;
       background-color: #B0967B;
       border-radius: 8px;
       padding: .3rem .6rem;
   }

   /* About Me */
   .aboutMe {
       display: none;
   }

   /* Contact Me */
   .contactMe {
       display: none;
   }

   /* Footer */
   .footerResponsive {
       display: none;
   }

}